<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Decryption</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
                <div style="background: #ffcc5c"><h1 align="center" >Welcome to EncrypTool</h1>
                        <h2 align="center" style="color:#ff7b25">Decrypt your Text</h2></div>
        <form method='POST' class="form-group" align="center">
                        <div align="center" style="background : #ffeead;">
                {{abc.as_p}}
                {% csrf_token %}
                <input type="submit" class="btn btn-success" value='submit'>
                </div>
                <br>
                <div style="background: #b5e7a0">
                <br>
                       <h4> Decrypted Text :</h4>  <div style="background:#d5f4e6"> &nbsp &nbsp &nbsp {{t}}</div>
                <br>
                <br>
                </div>
                <div>
                                <h1>
                                <a href="{% url 'kuch' %}">Click here To Encrypt the text !</a>
                            </h1>
                            </div>
        </form>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> 
</body>
</html>